/* * {
    border: 1px solid black;
} */

body{
    margin:0;
}

ul {
    background: #917373;
    padding: 15px 0;
    text-align: center;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
ul li {
    display: inline-block;
}

form {
    display: inline-block;
}

.buttonZoom {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 5px 30px;
    padding: 5px 20px;
    opacity: 0.7;
}

.buttonZoom:hover {
    opacity:1;
    background: #60606394;
    border-radius: 5px;
    padding: 5px 20px;
}

.vortexed {
    fill: red !important;
}
.container {
    /* border: 5px solid red; */
    width: 0;
    height: 0;
    /* left: 50%; */
    /* transform: translate(-50%, 68px); */
    margin: 0;
    position: relative;
    top: 68px;

}

/* circle {
    position: relative;
} */

.container > svg {
    /* border: 5px solid blue; */
    position: absolute;
    /* left: 50%; */
    /* top: 50%; */
    transform: translate(-50%, -50%);
    overflow: visible;
}


.pass-data {
    top: 70px;
    position: relative;
    width: 300px;
    height: 300px;
}

.clear {
    clear: both;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}
