.container {
    position: relative;
    left: 20%;
    float: left;
}

.container > svg {
    overflow: visible;
}

.pass-data {
    /* float: right; */
    position: fixed;
    right: 0px;
    padding: 140px;
    width: 300px;
    height: 800px;
}

.clear {
    clear: both;
}
