/* * {
    border: 1px solid black;
} */

form {
    display: inline-block;
}

.buttonZoom {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.vortexed {
    fill: red !important;
}
.container {
    position: absolute;
    width: 1200px;
    height: 1200px;
}

.container > svg {
    position: absolute;
    overflow: visible;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.pass-data {
    padding: 5px 0;
    top: 25%;
    position: absolute;
    padding-left: 20px;
    width: auto;
    height: auto;
}

.clear {
    clear: both;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}
